.extra-flex{
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px !important;
    margin: 0px 15px;
}
.sidebar-item .sidebar-link,.chatonline li a{
    text-decoration: none;
}
.treeview-menu{
    display: none;
}
.show{
    display: block;
    
}
.rotate{
    transform: rotate(-90deg);
}
.rotate-icon{
    transition: transform 0.3s ease-in-out;
}
.treeview-item{
    background-color: #f2f2f2 !important;
}
/* .not-active{
    border-left: transparent !important;
} */
.loader-gif{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
/* From Uiverse.io by barisdogansutcu */ 
.loader-svg {
 width: 3.25em;
 transform-origin: center;
 animation: rotate4 2s linear infinite;
}

.loader-circle {
 fill: none;
 stroke: hsl(214, 97%, 59%);
 stroke-width: 2;
 stroke-dasharray: 1, 200;
 stroke-dashoffset: 0;
 stroke-linecap: round;
 animation: dash4 1.5s ease-in-out infinite;
}

@keyframes rotate4 {
 100% {
  transform: rotate(360deg);
 }
}

@keyframes dash4 {
 0% {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
 }

 50% {
  stroke-dasharray: 90, 200;
  stroke-dashoffset: -35px;
 }

 100% {
  stroke-dashoffset: -125px;
 }
}

.dataTables_length>label>select{
    width: 50px !important;
}